<!-- Build a form to take user input in user_input.erb. Show that form using a GET request at /. -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  
  </body>
</html>